javascript:
  $(function(){
    $('#address_#{address.id}').on('shown.bs.collapse', function(){
      var handler = Gmaps.build('Google');
      handler.buildMap({
        provider: { zoom: 20 },
        internal: {id: 'address_#{address.id}_map'}}, function(){
        markers = handler.addMarkers([
          {
            "lat": #{address.latitude},
            "lng": #{address.longitude},
            "infowindow": "#{address.short_display}"
          }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15)
      });
    })
  })
